body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color:white;
}

div.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div.centered div {
    margin: 0;
}

@keyframes hover{
    0% {background-color: #555;}
    100% {background-color: #777;}
}

@keyframes nohover{
    0% {background-color: #777;}
    100% {background-color: #555;}
}

div.background {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
}

input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    bottom: 1px;
    height: 24px;
    border: 0px solid #fff;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #777;
    color: #ffffff;
    cursor: pointer;
    animation: hover .5s ease-in-out;
}

input[type="submit"]:not(:hover) {
    animation: nohover .5s ease-in-out;
}

input[type="text"] {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 180px;
    height: 20px;
    background: #555;
    border: 0px solid #fff;
    border-radius: 5px;
    padding: 2px;
    outline: none;
}